@model Caminhoneiro.ViewModel.ApoliceViewModel
@{
    Layout = "~/Views/MasterPage.cshtml";
}
@section head
{
    <link rel="stylesheet" href="~/Assets/Css/Apolice/Adesao.css" type="text/css">
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Adesão</h1>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Adesao", "Apolice", FormMethod.Post, new { id = "frmDados" }))
{
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Dados Produto</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Produto</label>
                                @Html.TextBoxFor(l => l.DadosProduto.Nome, new { @class = "form-control", @readonly = true, placeholder = "Nome do Produto" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Campanha</label>
                                @Html.TextBoxFor(l => l.DadosProduto.Campanha, new { @class = "form-control", @readonly = true, placeholder = "Campanha" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Valor</label>
                                @Html.TextBoxFor(l => l.DadosProduto.Valor, new { @class = "form-control", @readonly = true, placeholder = "Valor do Produto" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Agente</label>
                                @Html.TextBoxFor(l => l.DadosProduto.Agente, new { @class = "form-control", @readonly = true, placeholder = "Nome do Agente" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Dados Caminhoneiro</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>CPF</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(l => l.DadosCliente.CPF, new { @class = "form-control cpf", @required = "required", placeholder = "CPF" })
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="btnBuscaCPF">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nome Caminhoneiro</label>
                                @Html.TextBoxFor(l => l.DadosCliente.Nome, new { @class = "form-control", @required = "required", placeholder = "Nome do Caminhoneiro" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Data Nascimento</label>
                                @Html.TextBoxFor(l => l.DadosCliente.DataNascimento, new { @class = "form-control datanasc", @required = "required", placeholder = "dd/mm/yyyy" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Sexo</label>
                                @Html.DropDownListFor(l => l.DadosCliente.SexoId, (SelectList)ViewBag.Sexo, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Estado Civil</label>
                                @Html.DropDownListFor(l => l.DadosCliente.EstadoCivilId, (SelectList)ViewBag.EstadoCivil, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>E-mail</label>
                                @Html.TextBoxFor(l => l.DadosCliente.Email, new { @class = "form-control email", @required = "required", placeholder = "Email", type = "email" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>CEP</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(l => l.DadosCliente.CEP, new { @class = "form-control cep", @required = "required", placeholder = "CEP" })
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="btnBuscaCEP">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Endereço</label>
                                @Html.TextBoxFor(l => l.DadosCliente.Endereco, new { @class = "form-control ", @required = "required", placeholder = "Endereço" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Número</label>
                                @Html.TextBoxFor(l => l.DadosCliente.Numero, new { @class = "form-control ", @required = "required", placeholder = "Número" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Complento</label>
                                @Html.TextBoxFor(l => l.DadosCliente.Complemento, new { @class = "form-control ", @required = "required", placeholder = "Complemento" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Bairro</label>
                                @Html.TextBoxFor(l => l.DadosCliente.Bairro, new { @class = "form-control ", @required = "required", placeholder = "Bairro" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Cidade</label>
                                @Html.TextBoxFor(l => l.DadosCliente.Cidade, new { @class = "form-control ", @required = "required", placeholder = "Cidade" })
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label>UF</label>
                                @Html.TextBoxFor(l => l.DadosCliente.UF, new { @class = "form-control ", @required = "required", placeholder = "UF" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Telefone Fixo</label>
                                @Html.TextBoxFor(l => l.DadosCliente.TelefoneFixo, new { @class = "form-control tel", @required = "required", placeholder = "(DDD)+NÚMERO" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Telefone Celular</label>
                                @Html.TextBoxFor(l => l.DadosCliente.TelefoneCelular, new { @class = "form-control tel", @required = "required", placeholder = "(DDD)+NÚMERO" })
                                <input id="whatsapp1" type="checkbox" name="whatsapp1" value="" />
                                <label for="whatsapp1" style="cursor:pointer;">
                                    WhatsApp
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Telefone Celular(2)</label>
                                @Html.TextBoxFor(l => l.DadosCliente.TelefoneSecundario, new { @class = "form-control tel", placeholder = "(DDD)+NÚMERO" })
                                <input id="whatsapp2" type="checkbox" name="whatsapp2" value="" />
                                <label for="whatsapp2" style="cursor:pointer;">
                                    WhatsApp
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Telefone Celular(3)</label>
                                @Html.TextBoxFor(l => l.DadosCliente.TelefoneAdicional, new { @class = "form-control tel", placeholder = "(DDD)+NÚMERO" })
                                <input id="whatsapp3" type="checkbox" name="whatsapp3" value="" />
                                <label for="whatsapp3" style="cursor:pointer;">
                                    WhatsApp
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Vínculo</label>
                                @Html.DropDownListFor(l => l.VinculoId, (SelectList)ViewBag.Sindicatos, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Usuário</label>
                                <select class="form-control" id="Usuario_id" name="Usuario_id">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Como Prefere ser conectado?</label>
                                @Html.DropDownListFor(l => l.DadosCliente.ContactarPorId, (SelectList)ViewBag.Contactar, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Dados Dependentes</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="mb-2">Cônjuge</h5>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nome </label>
                                    @Html.TextBox("DadosDependente.0.Nome", null, new { @class = "form-control", placeholder = "Nome Cônjuge" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Data Nascimento </label>
                                    @Html.TextBox("DadosDependente.0.DataNasc", null, new { @class = "form-control datanasc", placeholder = "Data Nascimento Cônjuge", })
                                </div>
                            </div>
                            @Html.Hidden("Dependente.0.Tipo", "Cônjuge")
                            <div id="linha"></div>
                        </div>
                    </div>
                    <h5 class="mb-2">Filho(s)</h5>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table" id="ListaDependentes">
                                    <tr>
                                        <td>
                                            <label>Nome</label>
                                            @Html.TextBox("DadosDependente.1.Nome", null, new { @class = "form-control", placeholder = "Nome Filho(a)" })
                                        </td>
                                        <td>
                                            <label>Data de Nascimento</label>
                                            @Html.TextBox("DadosDependente.1.DataNasc", null, new { @class = "form-control datanasc", placeholder = "Data Nascimento" })
                                        </td>
                                        @Html.Hidden("Dependente.1.Tipo", "Filho(s)")
                                    </tr>
                                </table>
                                <div class="float-right">
                                    <button class="btn btn-primary" id="addLinha" type="button"><i class="fas fa-arrow-down" aria-hidden="true"></i> Filha(o)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">

                <div class="card-header">
                    <h3 class="card-title">Dados Beneficiário</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="tableBeneficiario">
                        <div class="row" style="border-bottom: 1px solid rgba(0,0,0,0.2); margin:5px;">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    @Html.TextBox("Beneficiario.Nome", null, new { @class = "form-control", placeholder = "Nome do Beneficiário" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Doc. Identificação</label>
                                    @Html.TextBox("Beneficiario.NDocumento", null, new { @class = "form-control ", placeholder = "Doc. Identificação" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Data Nascimento</label>
                                    @Html.TextBox("Beneficiario_0_DataNasc", null, new { @class = "form-control datanasc", placeholder = "dd/mm/aaaa" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Sexo</label>
                                    @Html.DropDownList("Beneficiario.SexoId", (SelectList)ViewData["Sexo"], new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label>Grau de parentesco</label>
                                    @Html.TextBox("Beneficiario.Parentesco", null, new { @class = "form-control", placeholder = "Grau" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Porcentagem(%) do Beneficiário</label>
                                    @Html.TextBox("Beneficiario.Porcentagem", null, new { @class = "form-control", placeholder = "Porcentagem", type = "number", min = "0", max = "100" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <button class="btn btn-primary" id="addLinhaBeneficiario" type="button"><i class="fas fa-arrow-down" aria-hidden="true"></i> Beneficiáiro(o)</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Dados Caminhão</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Modelo</label>
                                @Html.DropDownListFor(l => l.DadosVeiculo.VeiculoID, (SelectList)ViewBag.Veiculos, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Já existe seguro?</label>
                                @Html.DropDownListFor(l => l.DadosVeiculo.VeiculoID, (SelectList)ViewBag.SimNao, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Qual empresa seguro/assistência? </label>
                                @Html.DropDownListFor(l => l.DadosVeiculo.SeguradoraId, (SelectList)ViewBag.Seguradoras, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Veículo próprio ou financiado? </label>
                                @Html.DropDownListFor(l => l.DadosVeiculo.VeiculoProprioId, (SelectList)ViewBag.VeiculoProprio, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Quantidade Viagens</label>
                                @Html.DropDownListFor(l => l.DadosVeiculo.QdadeViagensId, (SelectList)ViewBag.QdadeViagens, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Entregas Carga</label>
                                @Html.DropDownListFor(l => l.DadosVeiculo.TipoEntregaId, (SelectList)ViewBag.Cargas, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Renda Líquida</label>
                                @Html.DropDownListFor(l => l.DadosVeiculo.RendaLiquidaId, (SelectList)ViewBag.RendasLiquidas, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Já precisou de assistência médica de urgência em períodos de viagem</label>
                                <div class="row">
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(l => l.DadosVeiculo.SolicitouServApolice, (SelectList)ViewBag.SimNao, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Dados Pagamento</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Meio de Pagamento</label>
                                    @Html.DropDownListFor(l => l.DadosPagamento.MeioPgtoId, (SelectList)ViewBag.MeioPgto, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div id="divCartao">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Número do cartão</label>
                                            @Html.TextBoxFor(l => l.DadosPagamento.Conta, new { @class = "form-control credicard", placeholder = "Número do cartão", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label>Nome no cartao</label>
                                            @Html.TextBoxFor(l => l.DadosPagamento.NomeResponsavel, new { @class = "form-control", placeholder = "Nome no cartão", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Data de expiração</label>
                                            @Html.TextBoxFor(l => l.DadosPagamento.DataExpiracao, new { @class = "form-control datacartao", placeholder = "Data de expiração", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <label>CVV</label>
                                            @Html.TextBoxFor(l => l.DadosPagamento.CVV, new
                                            {
                                                @class = "form-control",
                                                placeholder = "CVV",
                                                @required = "required"
                                            })

                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Parcelamento</label>
                                            @*@Html.DropDownListFor(l => l.DadosPagamento.NParcelasId, (SelectList)ViewBag.Parcelas, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-footer">
                                <button type="button" class="btn btn-info" id="btnRascunho"  data-toggle="modal" data-target="#modal-primary">
                                    Salvar
                                </button>
                                <button type="button" class="btn btn-primary" id="btnSalvar"  data-toggle="modal" data-target="#modal-primary">
                                    Confirmar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div class="modal fade" id="modal-primary">
    <div class="modal-dialog">
        <div class="modal-content bg-primary">
            <div class="modal-header">
                <h4 class="modal-title">Sucesso!</h4>
            </div>
            <div class="modal-body">
                <p>Apólice 0000000001 efetivada com sucesso!</p>
            </div>
            <div class="modal-footer float-lg-right">
                <button type="button" id="btnConfirmar" class="btn btn-outline-light">Ok</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/plugins/jqtemplate/jquery.tmpl.js"></script>
    <script src="~/Assets/Js/Apolice/Adesao.js"></script>
    <script id="tmpDependente" type="text/x-jquery-tmpl">
        <tr>
            <td>
                <label>Nome</label>
                @Html.TextBox("Dependente.${Proximo}.Nome", null, new { @class = "form-control", placeholder = "Nome Filho(a)" })
            </td>
            <td>
                <label>Data de Nascimento</label>
                @Html.TextBox("Dependente.${Proximo}.DataNasc", null, new { @class = "form-control datanasc", placeholder = "Data Nascimento Filho" })
            </td>
            <td><a class="deleteLinha nav-icon far fa-arrow-alt-circle-up display4"></a></td>
            @Html.Hidden("Dependente.${Proximo}.Tipo", "Filho(a)")
        </tr>
    </script>
    <script id="tmpBeneficiario" type="text/x-jquery-tmpl">
        <div class="row" style="border-bottom: 1px solid rgba(0,0,0,0.2); margin:5px;">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Nome</label>
                    @Html.TextBox("Beneficiario.${Proximo}.Nome", null, new { @class = "form-control", placeholder = "Nome do Beneficiário" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Doc. Identificação</label>
                    @Html.TextBox("Beneficiario.${Proximo}.NDocumento", null, new { @class = "form-control rg-beneficiario", placeholder = "Doc. Identificação" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Data Nascimento</label>
                    @Html.TextBox("Beneficiario.${Proximo}.DataNasc", null, new { @class = "form-control datanasc", placeholder = "dd/mm/aaaa" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Sexo</label>
                    @Html.DropDownList("Beneficiario.${Proximo}.SexoId", (SelectList)ViewData["Sexo"], new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label>Grau de parentesco</label>
                    @Html.TextBox("Beneficiario.${Proximo}.Parentesco", null, new { @class = "form-control", placeholder = "Grau" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Porcentagem(%) do Beneficiário</label>
                    @Html.TextBox("Beneficiario.${Proximo}.Porcentagem", null, new { @class = "form-control", placeholder = "Porcentagem", type = "number" })
                </div>
            </div>
            <div class="col-lg-11"></div>
            <div class="col-lg-1"><a class='deleteLinhaBeneficiario nav-icon far fa-arrow-alt-circle-up' style='margin:5px; cursor:pointer'></a></div>
        </div>
    </script>
}
