
@{
    /**/

    /**/

    ViewBag.Title = "EditarApolice";
    Layout = "~/Views/MasterPage.cshtml";
}


<section class="content">
    <div class="card-body">
        <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link  " href="@Url.Action("DadosCadastrais","Segurado")" role="tab" aria-selected="true">
                    Segurado <i class="fas fa-user"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("ListaTodos","Apolice")" role="tab" aria-selected="false">
                    Produtos <i class="fa fa-list-alt"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CartaoDigital","Segurado")" role="tab" aria-selected="false">
                    Cartão Digital <i class="fas fa-id-badge"></i>
                </a>
            </li>
        </ul>

        <div class="tab-custom-content">
            <p class="lead mb-0"></p>
        </div>
        <div class="card card-primary card-outline">
            <div class="card-body">
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link  " href="@Url.Action("ConsultarApolice","Apolice")" role="tab" aria-selected="true">
                            Dados Gerais <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Pagamento","Apolice")" role="tab" aria-selected="false">
                            Pagamentos <i class="fas fa-search-dollar"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("EditarApolice","Apolice")" role="tab" aria-selected="false">
                            Editar <i class="fa fa-wrench"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("Historico","Apolice")" role="tab" aria-selected="false">
                            Histórico
                            <i class="fas fa-book-open"> </i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="container-fluid">
                <h3>Editar Apolice</h3>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dados Caminhoneiro</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nome Caminhoneiro</label>
                                    <input type="text" class="form-control" placeholder="Nome Caminhoneiro" value="Marcelo de Souza" required>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>CPF</label>
                                    <input type="text" id="cpfcnpj" name="cpfcnpj" class="form-control" placeholder="CPF" value="026.735.630-75	" required>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Data Nascimento</label>
                                    <input type="text" class="form-control" placeholder="Data Nascimento" value="10/06/1985" required>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Sexo</label>
                                    <select class="form-control">
                                        <option>Feminino</option>
                                        <option>Masculino</option>
                                        <option>Outro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Estado Civil</label>
                                    <select class="form-control">
                                        <option>Casada(o)</option>
                                        <option>Divorciada(o)</option>
                                        <option>Solteira(o)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="text" class="form-control" placeholder="E-mail" value="marceloa@email.com" required>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>CEP</label>
                                    <input type="text" class="form-control" placeholder="CEP" value="04044-904" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Endereço</label>
                                    <input type="text" class="form-control" placeholder="Endereço" value="Rua Machado Bittencourt" required>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input type="text" class="form-control" placeholder="Número" value="205" required>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Complento</label>
                                    <input type="text" class="form-control" placeholder="Complento" value="Apto 124">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Bairro</label>
                                    <input type="text" class="form-control" placeholder="Bairro" value="Vila Clementino" required>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <input type="text" class="form-control" placeholder="Cidade" value="São Paulo" required>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group">
                                    <label>UF</label>
                                    <input type="text" class="form-control" placeholder="UF" value="SP" required>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Telefone Fixo</label>
                                    <input type="text" class="form-control" placeholder="(DDD)+NÚMERO" value="(11)32569874">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Telefone Celular</label>
                                    <input type="text" class="form-control" placeholder="(DDD)+NÚMERO" value="11988556547" required>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Canal de Vendas</label>
                                    <select class="form-control">
                                        <option>Sindicato</option>
                                        <option>Associação</option>
                                        <option>Rodobens</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Usuário</label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Como Prefere ser conectado?</label>
                                    <select class="form-control">
                                        <option>WhatsApp</option>
                                        <option>E-mail</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dados Dependentes</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-2">Cônjuje</h5>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Nome </label>
                                        <input type="text" class="form-control" placeholder="Nome Cônjuje" value="Maria Tereza">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Data Nascimento </label>
                                        <input type="text" class="form-control" placeholder="Data Nascimento Cônjuje" value="04/05/1984">
                                    </div>
                                </div>
                                <div id="linha"></div>
                            </div>
                        </div>
                        <h5 class="mb-2">Filho(s)</h5>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table" id="products-table">

                                        <tr>
                                            <td>
                                                <label>Nome</label>
                                                <input type="text" class="form-control" placeholder="Nome Filho(a)" name="first_name" />
                                            </td>
                                            <td>
                                                <label>Data de Nascimento</label>
                                                <input type="text" class="form-control" placeholder="Data Nascimento Filho" name="last_name" />
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="float-right">
                                        <button class="btn btn-primary" id="addLinha" type="button"><i class="fas fa-arrow-down" aria-hidden="true"></i> Filha(o)</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title">Dados Beneficiário</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="tableBeneficiario">
                            <div class="row" style="border-bottom: 1px solid rgba(0,0,0,0.2); margin:5px;">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="Nome do Beneficiário">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Doc. Identificação</label>
                                        <input type="text" class="form-control rg-beneficiario" placeholder="Doc. Identificação">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Data Nascimento</label>
                                        <input oninput="mascara(this, 'data')" class="form-control" placeholder="dd/mm/aaaa">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <select class="form-control">
                                            <option>Feminino</option>
                                            <option>Masculino</option>
                                            <option>Outro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label>Grau de parentesco</label>
                                        <input type="text" class="form-control" max="100" placeholder="Grau">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Porcentagem(%) do Beneficiário</label>
                                        <input type="number" class="form-control" placeholder="Porcentagem">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-primary" id="addLinhaBeneficiario" type="button"><i class="fas fa-arrow-down" aria-hidden="true"></i> Beneficiáiro(o)</button>
                        </div>
                    </div>
                </div>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dados Caminhão</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Modelo</label>
                                    <select class="form-control">
                                        <option>-------</option>
                                        <option>Volks-24250</option>
                                        <option>Volks-8150</option>
                                        <option>Mercedes-710</option>
                                        <option>Volvo-FH 460</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Já existe seguro?</label>
                                    <select class="form-control">
                                        <option>Sim</option>
                                        <option>Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Qual empresa seguro/assistência? </label>
                                    <select class="form-control">
                                        <option>-------</option>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Veículo próprio ou financiado? </label>
                                    <select class="form-control">
                                        <option>-------</option>
                                        <option>Própio</option>
                                        <option>Fianciado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Quantidade Viagens</label>
                                    <select class="form-control">
                                        <option>-------</option>
                                        <option>Até 5</option>
                                        <option>5 a 10</option>
                                        <option>Acima de 10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Entregas Carga</label>
                                    <select class="form-control">
                                        <option>-------</option>
                                        <option>Municipal</option>
                                        <option>Intermunicipal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Renda Líquida</label>
                                    <select class="form-control">
                                        <option>-------</option>
                                        <option>Até 5000</option>
                                        <option>De 5001 até 10000</option>
                                        <option>Acima 10000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Já precisou de assistência médica de urgência em períodos de viagem</label>
                                    <select class="form-control">
                                        <option>Sim</option>
                                        <option>Não</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dados Pagamento</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Possui conta Digital?</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Sim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">Não</label>
                                    </div>
                                    <div class="float-right">
                                        <button class="btn btn-primary" type="button"><i class="fas fa-credit-card" aria-hidden="true"></i> Abrir Conta Digital</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label>Nome no cartao</label>
                                    <input type="text" class="form-control" placeholder="Nome no cartao" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Número do cartão</label>
                                    <input type="text" class="form-control" placeholder="Número do cartão" required>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Data de expiração</label>
                                    <input type="text" class="form-control" placeholder="Data de expiração" required>
                                </div>
                            </div>

                            <div class="col-lg-1">
                                <div class="form-group">
                                    <label>CVV</label>
                                    <input type="text" class="form-control" placeholder="CVV" required>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Parcelamento</label>
                                    <select class="form-control">
                                        <option>12x50</option>
                                        <option>12x80</option>
                                        <option>12x120</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary">
                    Editar
                </button>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-primary">
    <div class="modal-dialog">
        <div class="modal-content bg-primary">
            <div class="modal-header">
                <h4 class="modal-title">Sucesso!</h4>
            </div>
            <div class="modal-body">
                <p>Dados Editados com sucesso!</p>
            </div>
            <div class="modal-footer float-lg-right">
                <button type="button" class="btn btn-outline-light"
                        onclick="location.href='@Url.Action("ConsultarApolice", "Apolice")'">
                    Voltar
                </button>

            </div>
        </div>

    </div>
</div>
<script src="jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script>
    $(document).ready(function () {
        var contador = 1;
        //adiciona nova linha
        $("#addLinha").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
            cols += '<td><input type="text" class="form-control" placeholder="Nome Filho(a)" name="first_name" /></td>';
            cols += '<td><input  oninput="mascara(this, "data")" type="text" class="form-control" placeholder="Data Nascimento Filho" name="last_name" /></td>';
            cols += '<td><a class=" deleteLinha nav-icon far fa-arrow-alt-circle-up"></a></td>';
            newRow.append(cols);
            contador++;

            if (contador <= 10) {
                $("#products-table").append(newRow);
            } if (contador == 10) {
                $("#addLinha").attr("disabled", true);
            }
        });
        //remove linha
        $("#products-table").on("click", "a.deleteLinha", function (event) {
            $(this).closest("tr").remove();
            $("#addLinha").attr("disabled", false);
            contador--;
        });
    });

    $(document).ready(function () {
        var contador = 1;
        //adiciona nova linha
        $("#addLinhaBeneficiario").on("click", function () {
            var newRow = $("<div class='row' style='border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin: 5px;'>");
            var cols = "";

            cols += "<div class='col-lg-6'>"
                + "<div class='form-group'>"
                + "<label>Nome</label>"
                + "<input type='text' class='form-control' placeholder='Nome do Beneficiário'>"
                + "</div>"
                + "</div>";

            cols += "<div class='col-lg-3'>"
                + "<div class='form-group'>"
                + "<label>Doc. Identificação</label>"
                + "<input type='text' class='form-control rg-beneficiario' placeholder='Doc. Identificação'>"
                + "</div>"
                + "</div>";

            cols += "<div class='col-lg-3'>"
                + "<div class='form-group'>"
                + "<label>Data Nascimento</label>"
                + "<input oninput='mascara(this, 'data')' class='form-control' placeholder='dd/mm/aaaa'>"
                + "</div>"
                + "</div>";

            cols += "<div class='col-lg-3'>"
                + "<div class='form-group'>"
                + "<label>Sexo</label>"
                + "<select class='form-control'>"
                + "<option>Feminino</option>"
                + "<option>Masculino</option>"
                + "<option>Outro</option>"
                + "</select>"
                + "</div>"
                + "</div>";

            cols += "<div class='col-lg-5'>"
                + "<div class='form-group'>"
                + "<label>Grau de parentesco</label>"
                + "<input type='text' class='form-control' max='100' placeholder='Grau'>"
                + "</div>"
                + "</div>";

            cols += "<div class='col-lg-4'>"
                + "<div class='form-group'>"
                + "<label>Porcentagem(%) do Beneficiário</label>"
                + "<input type='number' class='form-control' placeholder='Porcentagem'>"
                + "</div>"
                + "</div>"
                + "</div>";

            newRow.append(cols);
            contador++;

            if (contador <= 10) {
                $("#tableBeneficiario").append(newRow);
            } if (contador == 10) {
                $("#addLinhaBeneficiario").attr("disabled", true);
            }
        });
        //remove linha
        $("#tableBeneficiario").on("click", "a.deleteLinhaBeneficiario", function (event) {
            $(this).closest("tr").remove();
            $("#addLinhaBeneficiario").attr("disabled", false);
            contador--;
        });
    });

    var maskCpfOuCnpj = IMask(document.getElementById('cpfcnpj'), {
        mask: [
            {
                mask: '000.000.000-00',
                maxLength: 11
            },
            {
                mask: '00.000.000/0000-00'
            }
        ]
    });

    var maskBeneficiarioRg = IMask(document.getElementById('rg-beneficiario'), {
        mask: [
            {
                mask: '00.000.000-0',
                maxLength: 9
            }
        ]
    });

</script>

<style>
    td {
        padding: 100px;
    }

    .tdEspaco {
        display: table;
        float: left;
        margin-right: 18px;
    }

    table {
        border-spacing: 50px;
    }

    .deleteLinha {
        color: blue;
        cursor: pointer;
    }
</style>







