@model List<Caminhoneiro.ViewModel.ApoliceViewModel>
@{
    Layout = "~/Views/MasterPage.cshtml";
}
@section head
{
    <link rel="stylesheet" href="~/Assets/Css/Apolice/ListaTodos.css" type="text/css">
}
<section class="content">
    <div class="card-body">
        @using (Html.BeginForm("DadosCadastrais", "Segurado", FormMethod.Post, new { id = "TabSegurado" }))
        {
            if (Model.Count > 0)
            {
                <input type="hidden" name="Id" id="Id" value="@Model[0].DadosClienteId" />
                <input type="hidden" name="CPF" id="CPF" value="@Model[0].DadosCliente.CPF" />
                <input type="hidden" name="ApoliceId" id="ApoliceId" value="@Model[0].Id" />
            }

            <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="tabSegurado" role="tab" aria-selected="true" href="#">
                        Segurado <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="tabProdutos" role="tab" aria-selected="false" href="#">
                        Produtos <i class="fa fa-list-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabKit" role="tab" aria-selected="false" href="#">
                        Kit Produto <i class="fas fa-id-badge"></i>
                    </a>
                </li>
            </ul>
        }

        <div class="tab-custom-content">
            <p class="lead mb-0">Produtos</p>
        </div>
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nome Caminhoneiro</label>
                            @if (Model != null && Model.Count > 0 && Model[0].DadosCliente != null)
                            {
                                <input type="text" class="form-control" value="@Model[0].DadosCliente.Nome" disabled>
                            }
                            else
                            {
                                <input type="text" class="form-control" value="" disabled>
                            }
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>CPF</label>
                            @if (Model != null && Model.Count > 0 && Model[0].DadosCliente != null)
                            {
                                <input type="text" id="cpfcnpj" name="cpfcnpj" class="form-control" value="@Model[0].DadosCliente.CPF" disabled>
                            }
                            else
                            {
                                <input type="text" id="cpfcnpj" name="cpfcnpj" class="form-control" value="" disabled>
                            }
                        </div>
                    </div>
                </div>
                <h3>Produtos</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nome do Produto</th>
                                <th>Número da Proposta</th>
                                <th>Endosso</th>
                                <th>Data Inicial de Vigência</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var Apolice in Model)
                                {
                                    <tr>
                                        @if (Apolice.DadosProduto != null)
                                        {
                                            <td>@Apolice.DadosProduto.Nome</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>@Apolice.Codigo</td>
                                        <td>@Apolice.Endosso</td>
                                        <td>@Apolice.DataInicio</td>
                                        <td>@Apolice.Status</td>
                                        <td>
                                            <span class="action-button">
                                                <a href="#" class="action-link" title="Visualizar" data-item="@Apolice.Id"><i class="fas fa-eye"></i></a>
                                            </span>
                                            <span class="action-button">
                                                <a href="EditarApolice" class="action-link" title="Editar" data-item="@Apolice.Id"><i class="fas fa-pen"></i></a>
                                            </span>
                                            <span class="action-button">
                                                <a href="#" class="action-link" title="Cancelar" data-item="@Apolice.Id" data-name="@Apolice.DadosProduto.Nome"><i class="fas fa-times"></i></a>
                                            </span>
                                            <span class="action-button">
                                                <a href="#" class="action-link" title="Reenviar Kit" data-item="@Apolice.Id"><i class="fas fa-share-square"></i></a>
                                            </span>
                                            <span class="action-button">
                                                <a href="#" class="action-link" title="Imprimir" data-item="@Apolice.Id"><i class="fas fa-print"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
@section scripts
    {
    <script src="~/Assets/Js/Apolice/ListaTodos.js"></script>
}






