@model List<Caminhoneiro.ViewModel.ApolicePagamentoViewModel>
@{
    Layout = "~/Views/MasterPage.cshtml";
}
@section head
{
    <link rel="stylesheet" href="~/Assets/Css/Apolice/Pagamento.css" type="text/css">
}
<section class="content">
    <div class="card-body">
        @using (Html.BeginForm("Pagamento", "Apolice", FormMethod.Post, new { id = "TabSegurado" }))
        {
            if (Model != null && Model.Count > 0)
            {
                <input type="hidden" name="Id" id="Id" value="@Model[0].ClienteId" />
                <input type="hidden" name="CPF" id="CPF" value="" />
                <input type="hidden" name="ApoliceId" id="ApoliceId" value="@Model[0].ApoliceId" />
            }
            <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " id="tabSegurado" role="tab" aria-selected="true" href="#">
                        Segurado <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="tabProdutos" role="tab" aria-selected="false" href="#">
                        Produtos <i class="fa fa-list-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="tabKit" role="tab" aria-selected="false">
                        Cartão Digital <i class="fas fa-id-badge"></i>
                    </a>
                </li>
            </ul>
        }

        <div class="tab-custom-content">
            <p class="lead mb-0"></p>
        </div>
        <div class="card card-primary card-outline">
            <div class="card-body">
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="tabApolice" role="tab" aria-selected="true">
                            Dados Gerais <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " href="#" id="tabPagamentos" role="tab" aria-selected="false">
                            Pagamentos <i class="fas fa-search-dollar"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("EditarApolice","Apolice")" role="tab" aria-selected="false">
                            Editar <i class="fa fa-wrench"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#" id="tabHistorico" role="tab" aria-selected="false">
                            Histórico
                            <i class="fas fa-book-open"> </i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="invoice p-3 mb-3">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">Data do Vencimento</th>
                                <th style="width: 10px">Data Pagamento</th>
                                <th>Tipo Pagamento</th>
                                <th>Nome Meio Pagamento</th>
                                <th style="width: 10px">Nro. Parcela</th>
                                <th style="width: 10px">Valor Parcela(R$)</th>
                                <th>Tipo Transação</th>
                                <th>Status Pagamento</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.DataVencimento</td>
                                        <td>@item.DataPagamento</td>
                                        <td>@item.TipoPagamento</td>
                                        <td>@item.MeioPagamento</td>
                                        <td>@item.NrParcelas</td>
                                        <td>@item.Valor</td>
                                        <td>@item.TipoTransacao</td>
                                        <td>@item.StatusPagamento</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <script src="~/Assets/Js/Apolice/Pagamento.js"></script>
}