@model Caminhoneiro.ViewModel.FiltroLoginViewModel
@{
    Layout = "~/Views/Login/_LayoutAlternativo.cshtml";
}
@section head
{
    <link rel="stylesheet" href="~/Assets/Css/Login/Login.css">
    <script src="~/Assets/Js/Login/Login.js"></script>
    <style>
        .text-error{
            color:red;
            font-size:12px;
            margin-bottom:10px!important;
        }
        .mb-3{
            margin-bottom:15px!important;
        }
    </style>
}
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "frmLogar", name = "frmLogar" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group mb-3">
        @Html.TextBoxFor(l => l.Usuario, new { @class = "form-control", placeholder = "Usuário", id = "Usuario", name = "Usuario", data_error = "#txtUsuarioErro" })
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fa fa-user"></span>
            </div>
        </div>

    </div>
    @Html.ValidationMessageFor(model => model.Usuario, null, new { @class = "text-error", id = "txtUsuarioErro" })
    <div class="input-group mb-3">
        @Html.TextBoxFor(l => l.Senha, new { @class = "form-control", placeholder = "******", type = "password", id = "Senha", name = "Senha", data_error = "#txtSenhaErro" })
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    @Html.ValidationMessageFor(model => model.Senha, null, new { @class = "text-error", id = "txtSenhaErro" })
    <div class="row">

        <p class="col-md-12 col-lg-12 col-sm-12">
            <a href="Esqueci">Esqueci minha senha</a>
        </p>

        <div class="col-md-12 col-lg-12 col-sm-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
    </div>
    <center><label class="text-danger text-center">@ViewBag.Mensagem</label></center>
}

