@model Caminhoneiro.ViewModel.ClienteViewModel
@{
    Layout = "~/Views/MasterPage.cshtml";
}
@section head
{
    <link rel="stylesheet" href="~/Assets/Css/Segurado/DadosCadastrais.css" type="text/css">
}

<section class="content">
    <div class="card-body">

        @using (Html.BeginForm("DadosCadastrais", "Segurado", FormMethod.Post, new { id = "TabSegurado" }))
        {
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <input type="hidden" name="CPF" id="CPF" value="@Model.CPF" />
            <input type="hidden" name="ApoliceId" id="ApoliceId" value="0" />
            <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tabSegurado" role="tab" aria-selected="true" href="#">
                        Segurado <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabProdutos" role="tab" aria-selected="false" href="#">
                        Produtos <i class="fa fa-list-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabKit" role="tab" aria-selected="false" href="#">
                        Kit Produto <i class="fas fa-id-badge"></i>
                    </a>
                </li>
            </ul>
        }

        <div class="tab-custom-content">
            <p class="lead mb-0">Dados Cadastrais</p>
        </div>
        <div class="card card-primary card-outline">
            <div class="card-body">
                <h4>
                    Dados Cadastrais
                </h4>
                <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                        <address>
                            <br>
                            <b>Nome :</b> @Model.Nome <br>
                            <b>CPF:</b> @Model.CPF<br>
                            <b>Data Nascimento:</b> @Model.DataNascimento<br>
                            <b>Sexo:</b> @Model.Sexo<br>
                            <b>Estado Cívil:</b> @Model.EstadoCivil<br>
                            <b>E-mail:</b> @Model.Email<br>
                        </address>
                    </div>
                    <div class="col-sm-4 invoice-col">
                        <address>
                            <br>
                            <b>CEP:</b> @Model.CEP<br>
                            <b>Endereço:</b> @Model.Endereco<br>
                            <b>Número:</b> @Model.Numero<br>
                            <b>Complemento:</b> @Model.Complemento<br>
                            <b>Bairro:</b> @Model.Bairro<br>
                        </address>
                    </div>
                    <div class="col-sm-4 invoice-col">
                        <br>
                        <b>Cidade:</b> @Model.Cidade<br>
                        <b>UF:</b> @Model.UF<br>
                        <b>Tel Fixo:</b> @Model.TelefoneFixo<br>
                        <b>Tel Celular:</b> @Model.TelefoneCelular <br>
                        <b>Canal de Vendas:</b>  <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Assets/Js/Segurado/DadosCadastrais.js"></script>
}
