@model List<Caminhoneiro.ViewModel.ClienteViewModel>
@{
    Layout = "~/Views/MasterPage.cshtml";
}
@section head
{
    <link rel="stylesheet" href="~/Assets/Css/Segurado/ListaTodos.css" type="text/css">
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Todos Segurados</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">

    <div class="card">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Segurados</h3>
            </div>
            @using (Html.BeginForm("DadosCadastrais", "Segurado", FormMethod.Post, new { id = "frmBusca" }))
            {
                <input type="hidden" name="Id" id="Id" value="" />
                <input type="hidden" name="CPF" id="CPF" value="" />
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th>Data Nascimento</th>
                                <th>Data Alteração</th>
                                <th>Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CPF</td>
                                    <td>@item.Nome</td>
                                    <td>@item.DataNascimento</td>
                                    <td>@item.DataAlteracao</td>
                                    <td><a href="#" data-item="@item.CPF" data-id="@item.Id" class="btnDetalhe"><i class="fas fa-eye"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Assets/Js/Segurado/ListaTodos.js"></script>
}
